.background {
    width: 100%;
    height: 50vh; 
    background-image: url('../assets/fondo_1.png'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative; 
  }
  
  