.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(1, 1, 1, 1); /* Negro con 80% de opacidad */
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.logo-container {
  flex: 1;
}

.logo {
  height: 50px; /* Ajusta el tamaño del logo según tus necesidades */
}

.button-container {
  display: flex;
  gap: 10px;
}

.header-button {
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.4s;
}

.header-button:hover {
  background-color: white;
  color: black;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .button-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
}

